# Виртуальное окружение
venv/
env/
ENV/

# База данных
*.sqlite3
*.db

# Медиафайлы (загруженные пользователем)
/media/

# Локальные настройки
.env
local_settings.py

# Кеши Python
__pycache__/
*.pyc

# Файлы редакторов
.vscode/
.idea/
*.swp
*.swo

# Статика
/static/

# Скомпилированные файлы Python
__pycache__/
*.pyc

data/news.html

# Экспорт
project_dump.txt